<section id="fixHeight" class="exerciseViews">
<h2 id="marginFix" class="henny_penny">Meet the Developers!</h2> 
	<div class="pix" id="Leah">
		<img src="images/Leah.jpg">
		<p class="info">Leah</p>
	</div>
	<div class="pix" id="Mike">
		<img src="images/Mike.jpg">
		<p class="info">Mike</p>
	</div>
	<div class="pix" id="Lily">
		<img src="images/Lily.jpg">
		<p class="info">Lily</p>
	</div>
	<div class="pix" id="Matt">
		<img src="images/Matt.jpg">
		<p class="info">Matt</p>
	</div>
</section>

