<section id="aboutPage" class="exerciseViews">
<h2 id="aboutUs" class="henny_penny">About the Site</h2>
<h3>Fun, interactive lessons that teach young kids the basics of coding.</h3>
<h2 id="aboutUs" class="henny_penny">Meet the Developers!</h2>
	<div class="pix" id="Leah">
		<img src="images/Leah.jpg">
		<h3 class="info">Leah</h3>
		<!-- <a href="mailto:leahpwatt@gmail.com" target="_top"><img src="images/email.png"></a>
		<a href="https://www.linkedin.com/in/LeahPWatt" target="_blank"><img src="images/linkedin.png"></a>
		<a href="https://github.com/LeahPWatt" target="_blank">GitHub</a> -->
	</div>
	<div class="pix" id="Mike">
		<img src="images/Mike.jpg">
		<h3 class="info">Mike</h3>
		<!-- <a href="mailto:MPJohnson_Michigan@hotmail.com" target="_top">Email</a>
		<a href="https://www.linkedin.com/in/MichaelPJohnsonUSA" target="_blank">LinkedIn</a>
		<a href="https://github.com/t3011mj" target="_blank">GitHub</a> -->
	</div>
	<div class="pix" id="Lily">
		<img src="images/Lily.jpg">
		<h3 class="info">Lily</h3>
		<!-- <a href="mailto:Aheset@gmail.com" target="_top">Email</a>
		<a href="https://www.linkedin.com/in/AhesetSeifu" target="_blank">LinkedIn</a>
		<a href="https://github.com/Aheset" target="_blank">GitHub</a> -->
	</div>
	<div class="pix" id="Matt">
		<img src="images/Matt.jpg">
		<h3 class="info">Matt</h3>
		<!-- <a href="mailto:Matthew.Naif@gmail.com" target="_top">Email</a>
		<a href="https://www.linkedin.com/in/MatthewNaif" target="_blank">LinkedIn</a>
		<a href="https://github.com/man9985" target="_blank">GitHub</a> -->
	</div>
	<style type="text/css">
	#renderCode, #badges, #showHtml {
	display: none;
	}
</style>
</section>

