<section id="fixHeight" class="exerciseViews">
<h2 id="marginFix" class="henny_penny">Congrats! You have completed Lesson 1.</h2> 
<h2 id="marginFix" class="henny_penny">Please Choose Your Badge!</h2>
<h4>Drag and Drop in the "Add Your Badges" section below.</h4>
	<img src="images/sun.png" class="drag">
	<img src="images/boy.png" class="drag">
	<img src="images/dog.png" class="drag">
	<img src="images/flower.png" class="drag">
	<img src="images/star.png" class="drag">
	<img src="images/smile.png" class="drag"></br>
	<form class = "exercise5button">
		<button ng-click="showExercise()">Start Assessment</button>
	</form>
</section>

