<section id="fixHeight" class="exerciseViews">
<h2 id="marginFix" class="henny_penny">Congrats! You have completed Lesson 1.</h2> 
<h2 id="marginFix" class="henny_penny">Please Choose Your Badge!</h2>
<h4>Drag and Drop!</h4>
	<img src="images/dinosaur.jpg" class="drag">
	<img src="images/disney.jpg" class="drag">
	<img src="images/helloKitty.jpg" class="drag">
	<img src="images/pink car.jpg" class="drag">
	<img src="images/car.jpg" class="drag">
	<img src="images/welldone.jpg" class="drag"></br>
	<form class = "exercise5button">
		<button ng-click="showExercise()">Start Assessment</button>
	</form>
</section>

