<section class="exerciseViews">
<h2 class="henny_penny">Excellent job!</h2>
<h4>You have completed Lesson 1.</h4>
<h4>Your very first webpage looks great!</h4> 
<h2 class="henny_penny">Congrats! Please Choose Your Badge!</h2>
<h4>Drag and Drop!</h4>
<img src="dinosaur.jpg" class="drag">
<img src="disney.jpg" class="drag">
<img src="helloKitty.jpg" class="drag">
<img src="pink car.jpg" class="drag">
<img src="car.jpg" class="drag">
<img src="welldone.jpg" class="drag"></br>
</section>

<!-- <h4>Start by typing a heading with your name below.</h4> -->
<form class = "exercise5button">
	<!--<input type="text" ng-model="textInput"></input>-->
	<button ng-click="showExercise()">Start Lesson 2</button>
</form>
</section>