@media (max-width: 975px) {
	#styledText {
	font-size: .8em;
	}

	#mobileNav {
		display: inline-block;
	}

	#mobileNav ul li {
		width: 20%;
		margin-left: 4%;
	}

	#nav {
		display: none;
	}

	#logo{
		top: 10px;
	}

}

@media (max-width: 880px) {

	#styledText {
	font-size: .9em;
	}

	#renderCode {
	    width: 50%;
	    height: 600px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 2%;
	}

	#badges {
		width: 50%;
	    height: 370px;
	    display: block;
	    margin-top: 110%;
	    margin-left: auto;
	    margin-right: auto;
	}

	#showHtml {
	    width: 50%;
	    height: 600px;
	    display: block;
	    margin-left: 23.5%;
	    margin-right: auto;
	    margin-top: 2%;
	}

	#fixHeight {
		height: 420px;
	}

	.henny_penny {
		font-size: 1.5em;
	}

	#renderCode img {
		width: 200px;
	}

	#styledText {
		font-size: .7em;
	}

}


 
 /*690 or below pop-up message?*/
