.drag{
	position:relative;
	cursor:hand;
	z-index: 100;
}

body {
	background-color: #389343;
}

@font-face {
	font-family: "HennyPenny-Regular";
	src: url(fonts/HennyPenny-Regular.otf);
}

@font-face {
	font-family: "Anonymous";
	src: url(fonts/Anonymous.ttf);
}

@font-face {
	font-family: "Happy_Day_Dingbats";
	src: url(fonts/Happy_Day_Dingbats.otf);
}

#logo {
    text-align: center;
    margin-top: 1%;
}

nav {
    text-align: center;
}

/*nav ul {
	position: absolute;
    display: inline-block;
	left: 0;
	top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BE4E48;
    width: 100%;
    border-bottom: 3px solid #483C83;
}*/

nav li {
    /*float: left;*/
    display: inline-block;
    text-align: center;
    width: 11%;
    font-family: "Anonymous";
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

nav li a:hover {
    background-color: #E09645;
}

input {
	margin-bottom: 2%;
}

.henny_penny {
	padding-top: 2%;
	font-family: "HennyPenny-Regular";
	font-size: 2em;
}

.exerciseViews {
	color: white;
	font-size: 1em;
	font-family: "Anonymous";
	background-color: #483C83;
	text-align: center;
	border: 4px solid #BE4E48;
	border-radius: 20px;
	margin-left: 5%;
	margin-right: 5%;	
}

button {
  	margin: 10px auto;
 	cursor: pointer;
  	color: #fff;
  	background-color: #BE4E48;
  	font: 1.25em Anonymous;
  	padding: 0.3em 1em 0.2em;
  	text-shadow: 1px 1px 0px #000;
  	border-radius: 0.9em;
  	border: 1.5px solid #3d3d5c;
}

#fixHeight {
	height: 350px;
}

button:hover {
  	color: #669;
 	text-decoration: none;
}

.exercise5button{
    text-align: center;
}

#showHtml {
    width: 30%;
    height: 600px;
    border: 6px ridge #483C83;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    margin-left: 3%;
    margin-top: 2%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: #F1DB85;
}

#showHtml p {
    margin-bottom: -10px;
    margin-left: 15px;
    margin-right: 5px;
}

#showHtml .in30 {
    margin-left: 30px;
}

#showHtml .in40 {
    margin-left: 40px;
}

#renderCode {
    width: 30%;
    height: 600px;
    border: 6px ridge #483C83;
    border-radius: 6px;
    display: inline-block;
    margin-left: 7%;
    margin-top: 2%;
    background-color: #F1DB85; 
    text-align: center; 
    font-family: "HennyPenny-Regular";
    font-size: 1.5em; 
}

#badges {
	width: 15%;
    height: 600px;
    border: 6px ridge #483C83;
    border-radius: 6px;
    display: inline;
    position: absolute;
    margin-left: 37%;
    margin-top: 2%;
    background-color: #BE4E48;
    color: #F90;
    text-shadow: 1px 1px 0px #000;
    font-family: "31368D_0_0";
}

#badges p {
	margin: 1%;
}
	

input {
	width: 30%;	
	height: 30px;
	border: 3px solid #BE4E48;
	border-radius: 6px;
	font-family: "Anonymous";
	font-size: 1em;
	background-color: #f7ebba;
}

h2, h3, h4 {
	margin: 1%;
}

h2 {
	color: #E09645;
	text-shadow: 1px 1px 0px #000;
}

#titleBadges {
	font-size: 2.2em;
	text-align: center;
	padding-top: 10%;
}

#marginFix {
	padding-top: 0;
}

.lessonNum {
	font-family: "Anonymous";
	font-size: 1em;
	text-align: center;
}

.happyDing {
	font-family: "Happy_Day_Dingbats";
	font-size: 5.5em;
	text-align: center;
}

#paddingFix {
	padding-top: 12%;
}

@media (max-width: 1220px) {

	#badges p {
	margin: .4%;
	}

    #titleBadges {
    font-size: 2em;
	padding-top: 8%;
  	}
 }

@media (max-width: 1185px) {
	
	#badges {
		width: 60%;
	    height: 240px;
	    display: block;
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 0;
	}

	#titleBadges {
	    font-size: 2em;
		padding-top: 2%;
  	}

  	#lesson1 {
  		display: inline-block;
  		padding: 1% 5%;
  		margin-left: 12%;
  	}

  	#lesson2 {
  		display: inline-block;
  		padding: 1% 5%;
  	}

  	#lesson3 {
  		display: inline-block;
  		padding: 1% 5%;
  	}

	#showHtml {
	    width: 40%;
	    display: inline-block;
	    position: absolute;
	    margin-left: 3%;
	    margin-top: 2%;
	}

	#renderCode {
	    width: 40%;
	    height: 600px;
	    display: inline-block;
	    margin-left: 7%;
	    margin-top: 2%;
	}

 }

 @media (max-width: 1140px) {
 	#lesson1 {
  		margin-left: 10%;
  	}
 }

  @media (max-width: 1050px) {
 	#lesson1 {
  		margin-left: 8%;
  	}
 }

 @media (max-width: 960px) {
 	#lesson1 {
  		margin-left: 6%;
  	}

  	#titleBadges {
		padding-top: 3%;
  	}

 }
