#showHtml{
    top: 10%;
    width: 30%;
    height: 50%;
    border: solid red;
    display: inline-block;
}

#showCode{
    top: 10%;
    width: 30%;
    height: 50%;
    border: solid blue;
    display: inline-block;
}